<div id="about" style="margin-top:5px">
    {#    <div class="line2">#}
    <div class="container">
        <div class="row Fresh">
            <div class="col-md-4 Des">

                <img src="../static/images/book.png" style="width: 64px;height: 64px">
                <h4>Education</h4>
                <p>Done my Schooling from St.Xavier's School, Belthera Road, Ballia <br>Graduated from
                    IIIT-Allahabad,ECE Major.</p>

            </div>
            <div class="col-md-4 Ver">

                <img src="../static/images/office.png" style="width: 64px;height: 64px">
                <h4>Carreer</h4>
                <p>Done my Research Intern at Zomato. <br>Exploring Machine Learning at Zomato since Jan'16.
                </p>
            </div>
            <div class="col-md-4 Fully">
                <img src="../static/images/info.png" style="width: 64px;height: 64px">
                <h4>Love to</h4>
                <p>Eat, Code, Sing and new found love for writing</p>
            </div>
            {#            </div>#}
        </div>
    </div>
    <hr/>

    <div class="container">
        <div class="row">
            <div class="col-md-12 wwa">
                <span name="about"></span>
                <h3>Who I am? Meet my Avatars!</h3>
                <h4>Yes I have many !! </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row team">
            <div class="col-md-4 b1">
                <h4>Machine Learning Engineer</h4>
                <h5>Exploring New Dimensions</h5>
                <p>On bright sunny day, I am usually found either reading a research paper or implementing one !!!.
                    It's my day job. </p>
                {#                <ul>#}
                {#                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>#}
                {#                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
                {#                    #}
                {#                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>#}
                {#                </ul>#}
            </div>


            <div class="col-md-4">

                <h4>Developer</h4>
                <h5>Exploring New Support Tool</h5>
                <p>I have developed web apps for supporting visualization of my projects.</br>Flask, Php, Mysql and
                    Redis. </p>
                {#                <ul>#}
                {#                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>#}
                {#                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
                {#                    #}
                {#                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>#}
                {#                </ul>#}
            </div>


            <div class="col-md-4 b3">

                <h4>Singer/Traveller/Writer</h4>
                <h5>Self acclaimed</h5>
                <p>Acha Chalta hu, Duwaaon me yaad Rakhna </br>
                    Beaches, Mountains, Bangkok !!
                </p>
                {#                <ul>#}
                {#                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>#}
                {#                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
                {#                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>#}
                {#                </ul>#}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 hr1">
                <hr/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 bar">
                <div class="progB chart" data-percent="85" data-animate="3500">
                    <div class="chart chart-content">
                        <div class="percentage" data-percent="85">
                            <span class="percent">85</span>
                        </div>
                    </div>
                </div>
                <div class="textP">
                    <h3>PYTHON</h3>
                    <p>Almost every thing I code<br/>Library Used: Keras, Pandas, Caffe, Luigi and many more </p>
                </div>
            </div>
            <div class="col-md-3 bar">
                <div class="progB chart" data-percent="80" data-animate="3500">
                    <div class="chart chart-content">
                        <div class="percentage" data-percent="80">
                            <span class="percent">80</span>
                        </div>
                    </div>
                </div>
                <div class="textP">
                    <h3>SQL</h3>
                    <p>Hands on Experience</p>
                </div>
            </div>

            <div class="col-md-3 bar ">
                <div class="progB chart" data-percent="55" data-animate="3500">
                    <div class="chart chart-content">
                        <div class="percentage" data-percent="55">
                            <span class="percent">55</span>
                        </div>
                    </div>
                </div>
                <div class="textP">
                    <h3>HTML/JS/CSS</h3>
                    <p>Basic Level <br/>HTML(Semantic), Javascript used in developing Tools</p>
                </div>
            </div>

            <div class="col-md-3 bar ">
                <div class="progB chart" data-percent="60" data-animate="3500">
                    <div class="chart chart-content">
                        <div class="percentage" data-percent="60">
                            <span class="percent">60</span>
                        </div>
                    </div>
                </div>
                <div class="textP">
                    <h3>PHP</h3>
                    <p>Basic Level</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 hr1">
                <hr/>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row aboutUs">
            <div class="col-md-12 ">
                <h3>Some of my Research Projects</h3>
            </div>
        </div>
    </div>

    <div style="position: relative;">


        <div class="horL"></div>


        <div class="horL"></div>

        <div class="container">
            <div class="row about">
                <div class="col-md-6">
                    <div class="about1">
                        {#                        <img class="pic1Ab" src="../static/images/picAbout/aboutP3.png">#}
                        <h3>Text Insight Extraction </h3>
                        <p>Aspect Based Sentiment Analysis on text to extract the topic related sentiment. The Zomato in house grammar is developed to parse sentences semantically. The model heuristically make the N-cut in grammar rules. In each cut, the model probabilistically learns the relative order for each grammar,by minimizing the training loss.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about2">
                        {#                        <img class="pic2Ab" src="../static/images/picAbout/aboutP4.png">#}
                        <h3>Image Classification </h3>
                        <p>Used Deep Learning model for predicting Image labels. A variant of Alexnet model is trained on Zomato in house moderated data.Also, developed the pipelines using Luigi for training, testing and prediction for Zomato photos.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="horL"></div>

        <div class="container">
            <div class="row about">
                <div class="col-md-6">
                    <div class="about1">
                        {#                        <img class="pic1Ab" src="../static/images/picAbout/aboutP3.png">#}
                        <h3>Aesthatic Image Assessment </h3>
                        <p>Developing Deep Learning Architecture for learning Image Aesthetics. The constraint of fixed size input to Deep Models compromises the aesthetics of original image. We incorporated the Adaptive Spatial Pooling technique to address this problem by fixing the layer size just before the Fully Connected Layers in Deep Models. This preserves the original image composition and enables the model to learn aesthetic features without any transformations.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about2">
                        {#                        <img class="pic2Ab" src="../static/images/picAbout/aboutP4.png">#}
                        <h3>Image Digitalization</h3>
                        <p>Developed a method for extracting text from an Image. The extracted part is processed for noise removal and set standard dpi for an OCR engine to read.
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
