<div id="home">
    <div class="headerLine">
        <div id="menuF" class="default">

            <div class="container">
                <div class="row">
                    <div class="logo col-md-4">
                        <div>
                            <a href="#"></a>
                            <img class="img-circle" src="https://avatars0.githubusercontent.com/u/10905152?v=3&s=50">

                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="navmenu" style="text-align: center;">
                            <ul id="menu">
                                <li class="active"><a href="#home">HOME</a></li>
                                <li><a href="#about">ABOUT ME</a></li>
                                <li><a href="#project">PROJECTS</a></li>
                                <li><a href="#news">BLOGS</a></li>
                                <li class="last"><a href="#contact">CONTACT</a></li>
                                <!--li><a href="#features">Features</a></li-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row wrap">
                <div class="col-md-12 gallery">
                    <div class="camera_wrap camera_white_skin" id="camera_wrap_1">
                        <div data-thumb="" data-src="../static/images/slides/blank.gif">
                            <div class="img-responsive camera_caption fadeFromBottom">
                                <h2>I Develop.</h2>
                            </div>
                        </div>
                        <div data-thumb="" data-src="../static/images/slides/blank.gif">
                            <div class="img-responsive camera_caption fadeFromBottom">
                                <h2>I Learn.</h2>
                            </div>
                        </div>
                        <div data-thumb="" data-src="../static/images/slides/blank.gif">
                            <div class="img-responsive camera_caption fadeFromBottom">
                                <h2>I write.</h2>
                            </div>
                        </div>
                    </div><!-- #camera_wrap_1 -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 project">
                <h3 id="counter">0</h3>
                <h4>Projects</h4>
                <p>I have done three academic projects. <br>I have been part of four major projects in Zomato.
                    All in Machine Learning Field.
                </p>
            </div>
            <div class="col-md-4 project">
                <h3 id="counter1">0</h3>
                <h4>Years of Industrial Experience</h4>
                <p>I am in the Industry for last 2 years. It's been a roller coaster ride since then. </p>
            </div>
            <div class="col-md-4 project">

                <h3 id="counter2" style="margin-left: 20px;">0</h3>
                <h4 style="margin-left: 20px;">Research Paper</h4>
                <p>I have not published any Research paper </p>
            </div>
        </div>
    </div>

</div>
