{% include 'page_top.html' %}
<div class="headerLine">
    <div id="menuF" class="default">
        <div class="container">
            <div class="row">
                <div class="logo col-md-4">
                    <!--<div>-->
                    <!--<a href="#">-->
                    <!--<img src="../static/images/logo.png">-->
                    <!--</a>-->
                    <!--</div>-->
                </div>
                <div class="col-md-8">
                    <div class="navmenu" style="text-align: center;">
                        <ul id="menu">
                            <li class="active"><a href="#home">HOME</a></li>
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="#project">PROJECTS</a></li>
                            <li><a href="#news">BLOGS</a></li>
                            <li class="last"><a href="#contact">CONTACT</a></li>
                            <!--li><a href="#features">Features</a></li-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row wrap">
            <div class="col-md-12 gallery">
                <div class="camera_wrap camera_white_skin" id="camera_wrap_1">
                    <div data-thumb="" data-src="../static/images/slides/blank.gif">
                        <div class="img-responsive camera_caption fadeFromBottom">
                            <h2>I Develop.</h2>
                        </div>
                    </div>
                    <div data-thumb="" data-src="../static/images/slides/blank.gif">
                        <div class="img-responsive camera_caption fadeFromBottom">
                            <h2>I Learn.</h2>
                        </div>
                    </div>
                    <div data-thumb="" data-src="../static/images/slides/blank.gif">
                        <div class="img-responsive camera_caption fadeFromBottom">
                            <h2>I write.</h2>
                        </div>
                    </div>
                </div><!-- #camera_wrap_1 -->
            </div>
        </div>
    </div>
</div>
<div id="disqus_thread"></div>
<script>

    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     *  */

     var disqus_config = function () {
     this.page.url = {{ ROOT_PATH + '/temp' }};  // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = 01; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };

    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://amitkushwaha.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//amitkushwaha.disqus.com/count.js" async></script>
{% include 'page_bottom.html' %}
